<div>
Not yet Implemented 
   <div >
     <input type="button" value="Print" onclick="print_form();">
     <input type="button" value="Cancel" onclick="document.location.href = ''" >
  </div>
<%=params[:lastname]%> , <%=params[:firstname]%> 
</div>

