body{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
h2 {border:1;margin:0;padding:10px;color:red}


/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:850px;
padding:14px;
}


.mylist{
margin:0 auto;
width:90%;
padding:14px;
}

.errormsg{
float: none;
width:825px;
height:20px;
text-align:center;
line-height:10px;
color:red;
font-size:12px;
text-decoration:blink;
}

/* ----- reports ----*/
#stylized-report{
margin-top: 1px;
border:none;
background:#ebf4fb;
}
#stylized-report table{
font-size:10px;

}
.myreport{
margin:0 auto;
width:100%;
padding:0px;
}
#stylized-report p, ol, ul, td {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: none;
}


/* ----------- stylized ----------- */
#stylized{
margin-top: 10px;
border:solid 2px #b7ddf2;
background:#ebf4fb;
}
#stylized radio {
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}

#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:140px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
}
#stylized .small_clickable{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:140px;
cursor: pointer;
}

#stylized input{
/*text-transform: uppercase;*/	
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:250px;
margin:2px 0 20px 10px;
}

#stylized input.month{
float:left;
font-size:10px;
border:solid 1px #aacfe4;
width:100px;
margin:0px 0 0px 0px;
}

#stylized select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:250px;
margin:2px 0 20px 10px;
}

#stylized button{
/*clear:both;*/
float: right;
width:125px;
height:31px;
/*background:#666666 url(img/button.png) no-repeat;*/
text-align:center;
line-height:31px;
color:#666666;
font-size:10px;
font-weight:bold;
cursor: pointer;
}

#stylized input[type="button"] {
float: none;
width:125px;
height:31px;
text-align:center;
line-height:31px;
color:#666666;
font-size:12px;
font-weight:bold;
cursor: pointer;
}
#stylized input[type="submit"] {
float: none;
width:125px;
height:31px;
text-align:center;
line-height:31px;
color:#666666;
font-size:12px;
font-weight:bold;
cursor: pointer;
}

.report_table thead {
	background: #819FF7;
}
.report_table tfoot {
	background: #819FF7;
}

.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	/*box-shadow: 10px 10px 5px #888888;*/
	/*border:1px solid #000000;*/
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}

.CSSTableGenerator tr:nth-child(2) td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}

.CSSTableGenerator tr:nth-child(odd){ background-color:#aad4ff; }
.CSSTableGenerator tr:nth-child(even)   { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}

.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
